.qu_item{
	.item_head,.content{
		padding:20upx 30upx;
	}
	.spill{
		border-radius: 50%;background: #fed3d3;width:40upx;height:40upx;line-height:40upx;text-align: center;
		margin-right:10upx;
	}
	.title{
		color:#FF3737;
	}
}