.img30{
	width: 30upx;
	height: 30upx;
}
.header{
	margin-top: 30upx;
	margin-bottom: 50upx;
	.editor{
		display: flex;
		align-items: center;
		image{
			margin-left: auto;

		}
	}
	.user{
		margin-top: 15upx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.user-left{
			display: flex;
			align-items: center;
			justify-content: center;
			.user-img{
				width: 116upx;
				height: 116upx;
				border: solid 1px transparent;
				border-radius:100%;
				background-image: linear-gradient(#e4cb9f, #797875),
				    linear-gradient(to left, #797875, #e4cb9f);
				background-origin: border-box;
				background-clip: content-box, border-box;
				view{
					background-color: #fff;
					border-radius:100%;
					width: 112upx;
					height: 112upx;
					text-align: center;
					line-height: 100upx;
					overflow: hidden;
				}
			}
			.user-name{
				margin-left: 25upx;
				.name{
					font-size: 34upx;
					color: #333333;
					display:flex;
					align-items:center;
				}
				.vip{
					width:80upx;height:40upx;
					padding:0 20upx;
				}
				.text{
					font-size: 22upx;
					color: #999;
					border-radius: 40upx;
					border: 1px solid #ddd;
					padding: 5upx 10upx;
					display: inline-block;
					overflow:hidden;
					white-space:nowrap;
					text-overflow:ellipsis;
					width: 300upx;
					
				}
			}
			image{
				width: 100%; height: 100%; 
			}
		}
		.user-right{
			width: 200upx;
			height: 60upx;
			text-align:right;
			image{
				width: 100%;
				height: 60upx;
			}
		}
	}
}

.vip{
	width:40upx;height:40upx;
	margin-left:20upx;
}
.info{
	display: flex;
	height: 145upx;
	border-radius: 12upx;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	view{
		font-size: 40upx;
		color:#333;
		span{
			font-size: 22upx;
			color:#333;
		}
	}
	.text{
		font-size: 24upx;
		color: #999;
	}
	.item{
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		justify-content: center;
		position:relative;
		&:before {
		   content: '';
		   position: absolute;
		   // bottom: 25%;
		   right: 0px;
		   top: 35%;
		   width: 1px;
		   height: 30%;			
		   border: none;
		   background-image: linear-gradient(to right, transparent 50%, #eee 50%);
		}
		&:nth-of-type(4)::before{
			border: none;
			width:0;
			height: 0;
		}
		span{
			width: 100%;
			text-align: center;
		}
		view{
			width: 100%;
			text-align: center;	
		}
	}
	
}
.info1{
	display: flex;
	background-color: #FFFFFF;
	align-items: center;
	justify-content: space-between;
	border-radius: 12upx;
	padding: 40upx 0;
	image{
		width: 50upx;
		height: 50upx;
		display: block;
		margin: 0 auto;
	}
	.item{
		// height: 100%;
		flex: 1;
		text-align: center;
		// padding: 0 25upx;
		view{
			margin-top: 10upx;
			font-size: 24upx;
			color: #666;
			span{
				display: block;
				color: #333;
				font-size: 30upx;
				line-height: 1.1;
			}
		}
		position:relative;
		&:before {
		   content: '';
		   position: absolute;
		   bottom: 25%;
		   right: 0px;
		   top: 25%;
		   width: 1px;
		   height: 50%;			
		   border: none;
		   background-image: linear-gradient(to right, transparent 50%, #eee 50%);
		}
		&:nth-of-type(4)::before{
			border: none;
			width:0;
			height: 0;
		}
	}
	
	
	
}
.sevice{
	background-color: #fff;
	border-radius: 12upx;
	.item{
		height: 95upx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20upx;
		.item-left{
			display: flex;
			image{
				width: 44upx;
				height: 44upx;
				margin-right: 30upx;
			}
			view{
				font-size: 28upx;
				color: #333;
			}
		}
		.arrowr{
			color: #ccc;
			font-size: 36upx;
			line-height: 1.2;
			.rag{
				background: $primary;
				color: #fff;
				border-radius: 100px;
				font-size: 24upx;
				padding: 0 8upx;
				float: left;
				margin: 6upx 0;
			}
		}
	}
}

.ac{
	padding:0 30upx;
	margin-bottom:120upx;
	line-height:2.8;
	text-align:center;
	font-size:32upx;
	.list1{
		border-radius:15upx;
		overflow:hidden;
		.item1{
			background:#fff;
			border-bottom:1upx solid #ececec;
		}
	}
	.cancel{
		border-radius:15upx;
		background:#fff;
		margin:20upx 0;
	}
}