page{
	background-color: #fff;
}
.search{
	padding: 20upx 30upx 0;
}
.music-list{
	display: flex;
	align-items: center;
	margin-bottom: 60upx;
	flex-wrap: wrap;
	.item{
		margin-right: 15upx;
		width: 220upx;
		image{
			width: 100%;
			height:  220upx;
			border-radius: 10upx;
		}
		.img{
			position: relative;
			.img-top{
				margin: 0;
				position: absolute;
				right: 10upx;
				top: -5upx;
				.icon{
					border-radius: 0;
					width: 22upx;
					height: 18upx;
					margin-right: 5upx;
				}
				span{
					font-size: 20upx;
					color: #fff;
				}
			}
			.img-bottom{
				margin: 0;
				position: absolute;
				right: 10upx;
				bottom: 8upx;
				.play{
					width: 33upx;
					height: 33upx;
				}
			}
			
		}
		view{
			margin-top: 10upx;
			font-size: 28upx;
			color: #333;
			text-align: center;
		}
	}
	.item:nth-child(3n){
		margin-right: 0;
	}
}
.uploadbtn{
	position: fixed;
	right: 20upx;
	bottom: 20upx;
	/* #ifdef H5 */
	bottom: 120upx;
	/* #endif */
	width: 100upx;
	height: 100upx;
	line-height:1;
	color: #fff;
	font-size: 22upx;
	background: $primary;
	border-radius: 50%;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
	z-index: 9;
	.uni-icon{
		font-weight: bold;
		font-size: 52upx;
		line-height: .8;
	}
	.icon{
		display: block;
		height: 40upx;
		width: 40upx;
		margin-bottom: 8upx;
	}
}