page{
	background-color: #fff;
}
.searchbox{
	margin: 30upx 30upx;
	border-radius: 40upx;
	height: 70upx;
	padding: 20upx 40upx;
	background-color: #f3f3f3;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	image{
		height: 40upx;
		width: 40upx;
		margin-right: 10upx;
	}
	input{
		color:#333;
		font-size: 24upx;
		flex: 1;
		height: 40upx;
	}
}
.index-swiper-tab{
	width: 100%;
	white-space: nowrap;
	height: 40px;
	line-height: 40px;
	background: #fff;
	border-bottom: 1upx solid #e6e6e6;
	&::before{
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #eee;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.item{
		width: 33.3333%;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		font-size: 14px;
		&.active{
			font-size: 16px;
			color: $primary;
		}
	}
	.bb_line{
		position: absolute;
		bottom: 0;
		transition: all .2s;
		height: 2px;
		width:68upx;
		background-color: $primary
	}
}
.music-content{
	margin: 0 20upx;
}
.swiper{
	margin: 30upx 0;
	height: 345upx;
	image{
		height: 345upx;
		
	}
}

.music-fl{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 30upx;
	height: 120upx;
	margin-bottom: 30upx;
	.list{
		text-align: center;
		width: 25%;
		view{
			margin-top: 10upx;
		}
	}
	image{
		width: 60upx;
		height: 60upx;
		
	}
}


.music-list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	.item{
		// height: 265upx;
		width: 220upx;
		image{
			width: 100%;
			height:  220upx;
			border-radius: 10upx;
		}
		.img{
			position: relative;
			.img-top{
				margin: 0;
				position: absolute;
				right: 10upx;
				top: -5upx;
				.icon{
					border-radius: 0;
					width: 22upx;
					height: 18upx;
					margin-right: 5upx;
				}
				span{
					font-size: 20upx;
					color: #fff;
				}
			}
			.img-bottom{
				margin: 0;
				position: absolute;
				right: 10upx;
				bottom: 8upx;
				.play{
					width: 33upx;
					height: 33upx;
				}
			}
			
		}
		view{
			margin-top: 10upx;
			font-size: 28upx;
			color: #333;
			text-align: center;
		}
	}
}