.index_head{
	// padding: 10px 15px 0;
	height: 44px;
	.title{
		font-size: 32upx; font-weight: bold; text-align: center;align-items: center;
		image{
			 width: 132px;
		}
	}
	.seachbox{
		background: #f3f3f3;
		border-radius: 100px;
		width: 100%;
		padding: 0 10px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.uni-icon{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-size: 13px;
			color: #999;
			&::before{
				font-size: 20px;
				line-height: 1;
			}
		}
	}
	.head_r{ 
		padding-left:15px; 
		.scan{
			line-height: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}
.swiper-box{
	flex: 1;
	width: 100%;
	/* #ifdef MP-WEIXIN||APP-PLUS */
	height: calc(100vh - 80px);
	/* #endif */
	/* #ifdef H5 */
	height: calc(100vh - 130px);
	/* #endif */
	.swiper-item{
		height: 100%;
		overflow-y: auto;
	}
}

.index-item{
	/* #ifdef MP-WEIXIN||APP-PLUS */
	min-height: calc(100vh - 84px);
	/* #endif */
	/* #ifdef H5 */
	min-height: calc(100vh - 134px);
	/* #endif */
}
.Yi-mechanism{
	width: 100%;
	white-space: nowrap;
	height: 220upx;
	padding: 30upx 0 0 10upx;
	.item{
		display: inline-block;
		text-align: center;
		width: 160upx;
		.tx{
			width: 130upx;
			height: 130upx;
			margin: 0 auto 10upx;
			image{
				display: block;width: 100%; height: 100%;
				border-radius: 100%;
				background-color: #eee;
			}
		}
		.name{
			font-size: 26upx;
		}
	}
}
.Yi-media{
	padding: 30upx;
	.media-hd{
		margin-bottom: 20upx;
		.author{
			.tx{
				width: 80upx;
				height: 80upx;
				padding: 4upx;
				border: 1px solid $primary;
				border-radius: 100%;
				margin-right: 20upx;
				position: relative;
				image{
					display: block;width: 100%; height: 100%;
					border-radius: 100%;
					background-color: #eee;
				}
			}
			// .tx{
			// 	width: 80upx;
			// 	height: 80upx;
			// 	margin-right: 20upx;
			// 	image{
			// 		display: block;width: 100%; height: 100%;
			// 		border-radius: 100%;
			// 		background-color: #eee;
			// 	}
			// }
			.name{
				max-width: 300upx;
				font-size: 30upx;
				margin-right: 20upx;
				font-weight: bold;
			}
			.tochat{ 
				height: 40upx; width: 40upx;
				image{
					display: block;width: 100%; height: 100%;
				}
			}
		}
	}
	.media-bd{
		.desc{ line-height: 1.5;font-size: 32upx; font-weight: 600;}
		.maxpic{
			margin-top: 20upx;
			//border-radius: 12upx;
			overflow: hidden;
			position: relative;
			// background-color: #e0e0e0;
			background-color: #000;
			margin-left: -30upx;
			margin-right: -30upx;
			&.maxh{
				max-height: 1000upx;
			}
			&.audio{
				height: 750upx;
				// display: flex;
				// align-items: center;
				// background-color: #fff;
				// border: 1px solid #eee;
				// margin-left: 0;
				// margin-right: 0;
				image{ height: 100%; width: 100%;}
				.audioinfo{
					padding:0 20upx;
					line-height: 1.5;
					max-width: 400upx;
				}
				.isaudio{
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -40upx;
					margin-left: -40upx;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 80upx;
					border-radius: 50%;
					height: 80upx;
					background: rgba(221,25,109,.7);
					color: #fff;
					.line{
						width: 4upx;
						background: #fff;
						margin-right: 6upx;
					}
					.line1{ 
						height: 24upx;
					}
					.line2{ 
						height: 10upx;
					}
					.line3{ 
						height: 14upx;
					}
					&.active{
						.line1{
							animation:myanimation 0.8s infinite 1s;
							-webkit-animation:myanimation 0.8s infinite 1s;
						}
						.line2{ 
							animation:myanimation 1s infinite 0.5s;
							-webkit-animation:myanimation 1s infinite 0.5s;
						}
						.line3{ 
							animation:myanimation 0.9s infinite 1s;
							-webkit-animation:myanimation 0.9s infinite 1s;
						}
					}
				}
			}
			&.mv{
				// max-height: 800upx;
				video{
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 2;
				}
			}
			
			// .postpic{height: 750upx;}
			.isplay{
				height: 88upx;
				width: 88upx;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -44upx 0 0 -44upx;
				background: url(http://m.dance-one.com/static/play.png);
				background-size: cover;
				z-index: 2;
			}
			.tag{
				position: absolute;
				left: 0;
				top: 20upx;
				background: rgba(221,25,109,.7);
				color: #fff;
				z-index: 2;
				padding: 0 20upx;
				border-radius: 0 100px 100px 0;
			}
			&.dis{
				video{
					left: -2000px;
				}
			}
		}
	}
	.media-ft{
		margin-top: 24upx;
		.txt_info{
			font-size: 24upx;
			color: #999;
			height: 44upx;
			line-height: 44upx;
		}
		.ft_l .txt_info{
			margin-right: 40upx;
		}
		.like{padding-left: 50upx; background: url(http://m.dance-one.com/static/like.png) left center no-repeat;
		background-size: 44upx 44upx;}
		.like.active{ background: url(http://m.dance-one.com/static/like2.png) left center no-repeat;
		background-size: 44upx 44upx;}
		.reply{
			padding-left: 50upx;background: url(http://m.dance-one.com/static/reply.png) left center no-repeat;
			background-size: 44upx 44upx;
		}
		.share{
			width: 44upx;
			height: 44upx;
			background: url(http://m.dance-one.com/static/share.png) left center no-repeat;
			background-size: 44upx 44upx;
		}
		.sign{
			width: 44upx;
			height: 44upx;
			background: url(http://m.dance-one.com/static/sign.png) left center no-repeat;
			background-size: 44upx 44upx;
		}
		.sign.active{
			background: url(http://m.dance-one.com/static/sign2.png) left center no-repeat;
			background-size: 44upx 44upx;
		}
	}
	.media-comment{ 
		margin-top: 20upx;
		.comment-item{
			margin-bottom: 10upx;
			font-size: 26upx;
			.con{ color: #666;}
		}
		.more{font-size: 26upx;}
	}
	.likenum{
		font-size: 26upx; margin-top: 10upx;
	}
}
.flow{
	color: $primary;
	background: #fff;
	border: 1px solid #e6e6e6;
	// color: #fff;
	// background: $primary;
	// border: 1px solid $primary;
	border-radius: 100px;
	width: 120upx;
	text-align: center;
	&.active{
		// color: $primary;
		// background: #fff;
		// border: 1px solid #e6e6e6;
	}
}
.Yi-recomUser{
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	.Yi-bd{ 
		padding: 0 0 30upx 30upx;
		.User-swiper-tab{
			width: 100%;
			white-space: nowrap;
			.item{
				display: inline-block;
				text-align: center;
				width: 290upx;
				padding: 30upx;
				border: 1px solid #eee;
				border-radius: 12upx;
				margin-right: 20upx;
				position: relative;
				.close{
					font-size: 56upx;
					color: #999;
					line-height: 1;
					position: absolute;
					right: 0;
					top: 4upx;
				}
				.tx{
					width: 156upx;
					height: 156upx;
					margin: 0 auto 10upx;
					image{
						display: block;width: 100%; height: 100%;
						border-radius: 100%;
					}
				}
				.name{
					font-size: 30upx;
					margin-bottom: 20upx;
					font-weight: bold;
				}
				.flow{
					color: #fff;
					background: $primary;
					border: 1px solid $primary;
					border-radius: 100px;
					width: 100%;
					margin: 0 auto;
					text-align: center;
					&.active{
						color: $primary;
						background: #fff;
						border: 1px solid #e6e6e6;
					}
				}
			}
		}
	}
}

.Yi-Userlist{
	.user-item{
		padding: 30upx 50upx;
		.author{
			.tx{
				width: 160upx;
				height: 160upx;
				margin-right: 20upx;
				position:relative;
				image{
					display: block;width: 100%; height: 100%;
					border-radius: 100%;
					background-color: #f2f2f2;
				}
			}
			.name{
				max-width: 300upx;
				font-size: 30upx;
				margin-right: 20upx;
				line-height: 1.5;
				color: #333333;
				font-size: 30upx;
				font-weight: bold;
			}
		}
		.introduce{ color: #666; line-height: 1.8;font-size: 30upx;}
	}
}
.Yi-mechanismlist{
	.mechanism-item{
		padding: 40upx 50upx;
		.author{
			.tx{
				width: 120upx;
				height: 120upx;
				margin-right: 20upx;
				image{
					display: block;width: 100%; height: 100%;
					border-radius: 12upx;
				}
			}
			.name{
				max-width: 300upx;
				font-size: 30upx;
				margin-right: 20upx;
				line-height: 1.5;
				font-size: 32upx;
				font-weight:bold;
				color: #333333;
			}
		}
		.introduce{ color: #666; line-height: 1.5;max-width: 400upx;font-size: 30upx;}
	}
}
.Yi-courselist{
	padding:0 30upx;
	align-items: start;
	.left-list,.right-list{
		width: 49%;
	}
	.item{
		width:100%;margin-top:20upx;
		background: #ffffff;
		.item_info{
			padding:10upx 0;
		}
		.item_total{
			width:100%;
		}
		.maxpic{
			width:100%;
			// height:200upx;
			border-radius: 12upx;
			overflow: hidden;
			position: relative;
			background-color: #e0e0e0;
			image{
				width:100%;height:100%;
			}
			.isplay{
				width: 60upx;
				height: 60upx;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -30upx 0 0 -30upx;
				background: url(http://m.dance-one.com/static/play.png) center center no-repeat;
				background-size: cover;
				z-index: 2;
			}
		}
		.item_title{
			font-size:30upx;font-weight: bold;
		}
		.item_price{
			color:$primary;font-size:30upx;font-weight: bold;
		}
		.item_market{
			color:#999;font-size:24upx; line-height: 1.4;
		}
		.item_auther{
			align-items: center;
			.tx{
				width: 46upx; height: 46upx; border-radius: 50%; background: #E0E0E0;
			}
			.name{ padding: 0 10upx; font-size: 26upx;}
		}
	}
	
}
.Yi-zxlist{
	align-items: start;
	margin-left: -1px;
	.left-list,.right-list{
		width: 49%;
		padding-left: 1px;
	}
	.item{
		width:100%;margin-top:1px;
		background: #ffffff;
		.item_info{
			padding:10upx 0;
		}
		.item_total{
			width:100%;
		}
		.maxpic{
			width:100%;
			overflow: hidden;
			position: relative;
			background-color: #e0e0e0;
			image{
				width:100%;height:100%;
			}
			.isplay{
				width: 60upx;
				height: 60upx;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -30upx 0 0 -30upx;
				background: url(http://m.dance-one.com/static/play.png) center center no-repeat;
				background-size: cover;
				z-index: 2;
			}
		}
	}
}









