
.item{
	padding:20upx 30upx;border-bottom: 1upx solid #f5f5f5;
}
.btn_fix{
	background: $primary;text-align: center;
	height:88upx;line-height: 88upx;
	width:690upx;margin:100upx auto;
	color:#ffffff;border-radius:15upx;
}
view{
	line-height:1.5;
}
.pl30{
	padding-left: 30upx;
}