
*{
	box-sizing: border-box;
	margin:0;padding:0;
}
view {
  box-sizing: border-box;
  margin:0;padding:0;
  font-size: 28upx;
}
image{
	vertical-align: middle;
}

button,
input[type='number'],
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
select,
textarea {
  margin: 0;
  font-family: inherit;
  -webkit-appearance: none;
}
.uni-input-placeholder{ color: #C0C0C0;}
a {
  text-decoration: none;
  &:hover {
      text-decoration: none;
  }
  span{
    color:#ffffff;
  }
}
.color_red{
  color:$primary;
}

/*标题*/
.Yi-hd{
	padding: 20upx 30upx;
	.title{
		font-size: 30upx;
	}
	.more{
		font-size: 24upx;
		color: #999;
	}
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  overflow: hidden;
}

.flex2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  -o-flex: 2;
  overflow: hidden;
}
.flexSharink{
  flex-shrink: 1
}

.flexColumn {
  flex-flow: column !important;
}
.flexWrap{
  flex-wrap: wrap;
}

.flexAlignCenter {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -moz-align-items: center !important;
  -ms-align-items: center !important;
  -o-align-items: center !important;
  align-items: center !important;
}

.flexAlignBaseline {
  -webkit-box-align: baseline !important;
  -webkit-align-items: baseline !important;
  -moz-align-items: baseline !important;
  -ms-align-items: baseline !important;
  -o-align-items: baseline !important;
  align-items: baseline !important;
}

.flexAlignStart {
  -webkit-box-align: flex-start !important;
  -webkit-align-items: flex-start !important;
  -moz-align-items: flex-start !important;
  -ms-align-items: flex-start !important;
  -o-align-items: flex-start !important;
  align-items: flex-start !important;
}

.flexAlignEnd {
  -webkit-box-align: flex-end !important;
  -webkit-align-items: flex-end !important;
  -moz-align-items: flex-end !important;
  -ms-align-items: flex-end !important;
  -o-align-items: flex-end !important;
  align-items: flex-end !important;
}

.justifyContentEnd {
  -webkit-justify-content: flex-end !important;
  -moz-justify-content: flex-end !important;
  -o-justify-content: flex-end !important;
  -ms-justify-content: flex-end !important;
  justify-content: flex-end !important;
}

.justifyContentStart {
  -webkit-justify-content: flex-start !important;
  -moz-justify-content: flex-start !important;
  -o-justify-content: flex-start !important;
  -ms-justify-content: flex-start !important;
  justify-content: flex-start !important;
}

.justifyContentCenter {
  -webkit-justify-content: center !important;
  -moz-justify-content: center !important;
  -o-justify-content: center !important;
  -ms-justify-content: center !important;
  justify-content: center !important;
}

.justifyContentBetween {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
}
.justifyContentAround {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-justify-content: space-around;
}
/*小图标*/
.icon-arrow {
  display: inline-block;
  font-size: 0;
  width: 40upx;
  height: 40upx;
  position: relative;
  vertical-align: middle;
}

.icon-arrow::before {
  position: absolute;
  content: "";
  width: 14upx;
  height: 14upx;
  border: 1upx solid #939393;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.icon-arrow.arrow-right::before {
  transform: rotate(45deg);
  top: 10upx;
  left: 6upx;
}

.icon-arrow.arrow-down::before {
  transform: rotate(135deg);
  top: 4upx;
  left: 6upx;
}

.icon-arrow.arrow-up::before {
  transform: rotate(-45deg);
  top: 12upx;
  left: 6upx;
}
//小三角
.icon-sj {
    display: inline-block;
    position: relative;
    width: 20upx;
    height: 100%;
    &::before {
        content: "";
        width: 0;
        height: 0;
        display: inline-block;
        border: 6upx solid #999;
        border-top-color: transparent;
        border-right-color: transparent;
    }
    &.sj-down::before {
        transform: rotate(-45deg);
        top: -6upx;
        position: relative;
    }
}
.icon-gou {
  display: inline-block;
  vertical-align: middle;
  width: 40upx;
  height: 40upx;
  position: relative;
  &::before {
      content: "";
      position: absolute;
      width: 30upx;
      height: 10upx;
      border-left: 2upx solid #ff952e;
      border-bottom: 2upx solid #ff952e;
      transform: rotate(-50deg);
  }
}
//双箭头
.twoArrow {
    display: inline-block;
    width: 50upx;
    height: 50upx;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 16upx;
        height: 16upx;
        border-left: 1upx solid #939393;
        border-bottom: 1upx solid #939393;
        left: 16upx;
    }
    &.twoArrow-down {
        &::before,
        &::after {
            transform: rotate(-45deg);
        }
        &::before {
            top: 8upx;
        }
        &::after {
            top: 20upx;
        }
    }
    &.twoArrow-right {
      &::before,
      &::after {
          transform: rotate(225deg);
      }
      &::before {
          top: 8upx;
      }
      &::after {
          top: 20upx;
      }
  }
    &.twoArrow-up {
        &::before,
        &::after {
            transform: rotate(135deg);
        }
        &::before {
            top: 14upx;
        }
        &::after {
            top: 26upx;
        }
    }
}
//数量操作
.handleNumber {
    display: inline-block;
    text-align: center;
    span {
        display: inline-block;
        vertical-align: top;
    }
    .btn {
        width: 50uupx;
        height: 50uupx;
        line-height: 44upx;
        background: #f5f5f5;
        position: relative;
        border-radius: 4upx;
        font-size: 40upx;
        color: #999;
    }
    .num {
        width: 70upx;
        height: 50upx;
        line-height: 50upx;
    }
}
// 上标
.sup {
    display: inline-block;
    vertical-align: text-top;
    // margin-left: -4upx;
    font-size: 40upx;
}
.border_bottom{
  border-bottom: 1upx solid #eee;
}
.pw3{
	padding:0 30upx;
}
.p2{
  padding:20upx 0;
}
.pw2{
	padding:0 20upx;
}
.pp2{
	padding:20upx;
}
.pp3{
    padding:30rpx
}
.p1{
  padding:10upx 0;
}
.mt1{
  margin-top:10upx
}
.mt2{
  margin-top:20upx
}
.mr1{
	margin-right:10upx;
}
.mr2{
	margin-right:20upx;
}
.boxSize{
  box-sizing: border-box;
}
.text_left{
  text-align:left
}
.text_right{
  text-align:right
}
.text_center{
  text-align:center
}
.font32{
  font-size:32upx;
}
.font26{
	font-size:26upx;
}
.font18{
  font-size:18upx;
}
.font12{ font-size: 24upx;}
.line5{
  line-height: 1.5
}

.border_no{
  border:none!important;
}
.ml5{
  margin-left:5upx;
}
.font_20{
  font-size:20upx;
}

.text_color{
  color:#ff952e;
}
.bg_fff{
	background: #ffffff;
}
.color_gray{
	color:#999;
}
.slider{
	height:20upx;background: #f5f5f5;
	width:100%;
}
//文字超出两行显示省略号
.text_flow{
  text-overflow: -o-ellipsis-lastline!important;
  overflow: hidden!important;
  text-align: left!important;
  text-overflow: ellipsis!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  line-clamp: 2!important;
  -webkit-box-orient: vertical!important;
}
.text_flow1{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//遮罩层
.mask{
	width:750upx;height:100vh;
	z-index:99;background: rgba(0,0,0,.7);
	position: fixed;top:0;left:0;
}
.mask_model{
	position: fixed;bottom:0;left:0;height:550upx;
	width:750upx;
	z-index:2;
	background: #ffffff;
	.mask_title{
		padding:30upx;
		.mask_info{
			font-size:35upx;
		}
	}
}

.weui-cells {
    background-color: #fff;
    margin-top: 20rpx;
    line-height: 1.8;
    .icon-arrow {
        margin-right: -16rpx;
    }
    &.icon__weui-cells {
        .icon-menu {
            width: 80rpx;
            height: 80rpx;
            margin-right: 20rpx;
        }
    }
    &.selectCard__weui-cells {
        .icon-card {
            width: 40rpx;
            height: 40rpx;
            margin-right: 18rpx;
        }
    }
}
.weui-cell {
    padding: 20rpx 30rpx;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    font-size: 30rpx;
}

.weui-cell__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    overflow: hidden;
}

.weui-cells .weui-cell:before {
    position: absolute;
    left: 30rpx;
    right: 30rpx;
    content: "";
    height: 1px;
    background: #F2F2F2;
    bottom: 0;
}

.weui-cells .weui-cell:last-child:before {
    display: none;
}

.weui-cells.noBorder__weui-cells .weui-cell:before {
    display: none;
}
.wd_wdd{
    width:100%;
}
/*搜索框*/
.search{
	padding: 20upx 30upx;
	.seachbox{
		background: #f3f3f3;
		border-radius: 100px;
		width: 100%;
		padding: 0 10px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.uni-icon{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-size: 13px;
			color: #999;
			&::before{
				font-size: 20px;
				line-height: 1;
				margin-right: 8px;
			}
		}
	}
}
/*圆角轮播*/
.index_swiper{
	position: relative;
	.swiper{
		height:346upx;
		border-radius: 12upx;
		overflow: hidden;
		.img{
			height: 346upx;
			border-radius: 12upx;
			overflow: hidden;
		}
	}
	.dots{
		position: absolute;
		left: 50%;
		bottom: 10upx;
		text-align: center;
		white-space: nowrap;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		z-index: 2;
		.dot{
			display: inline-block;
			width: 20upx;
			height: 4upx;
			cursor: pointer;
			-webkit-transition-property: background-color;
			transition-property: background-color;
			-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
			background: rgba(0,0,0,.3);
			border-radius: 2upx;
			margin: 0 6upx;
		}
		.dot.active{
			background: #fff;
		}
	}
}
// 快捷导航
.icon-menu{
	padding: 30upx 30upx 10upx;
	display: flex;
	justify-content: space-around;
	.item{
		text-align: center;
		.icon{ 
			display: block;
			width: 72upx; 
			height: 72upx;
			margin: 0 auto 8upx;
		 }
		 .txt{ color: #666; font-size: 24upx;}
	}
}
// 评论框
.foot-fiexd{
	height: 100upx;
	.mark{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 997;
		background: transparent;
	}
	
}
.foot-reply {
	height: 100upx;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 30upx;
	z-index: 998;
	border-top: 1px solid #eee;
	.ipt{ width: 100%; padding: 0 20upx; height: 60upx; font-size: 24upx; color: #999; background: #f2f2f2; border-radius: 6px;}
	&.active .ipt{
		width: 570upx;
		/* #ifdef MP-WEIXIN */
		width: 540rpx;
		/* #endif */
	}
	.btn-r{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.sendBtn{ background: $primary; color: #fff; border-radius: 6px; height: 60upx; line-height: 60upx; padding: 0 20upx;}
		.sendBtn.dis{opacity: .4;}
	}
}
// 支付方式
.uni-modal.payMethods__modal{
	background: #FFFFFF;
	border-radius: 20upx 20upx 0 0;
	overflow: hidden;
}
.payMethods__modal{
	.uni-modal__hd{
		font-size: 30upx;
	}
	.line-item{
		line-height: 1.2;
		.txt{ font-size: 30upx;}
		.iconimg{
			display: block;
			width: 60upx; 
			height: 60upx;
			margin-right: 20upx;
		}
		.uni-icon-checkbox{
			color: #999;
		}
		.uni-icon-checkbox-filled{
			color: $primary;
		}
	}
	.btn{
	  background: $primary;
	  height:80upx;
	  height:80upx;
	  line-height: 80upx;
	  width:690upx;
	  margin: 40upx auto;
	  color:#ffffff;
	  border-radius: 40upx;
	  text-align: center;
	}
}

/* 放弃付款弹窗 */
.backout{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color:rgba(0,0,0,0.4);
	display: flex;
	align-items:center;
	justify-content:center;
	z-index: 9;
	.backbox{
		width: 540upx;
		height: 310upx;
		border-radius: 25upx;
		background: #fff;
		.backtxt{
			text-align: center;
			color: #000;
			line-height: 45upx;
			margin: 80upx 60upx 40upx 60upx;
			height: 90upx;
		}
		.select{
			display: flex;
			height: 99upx;
			border-top: 1upx solid #ECECEC;
		}
		.select view{
			flex: 1;
			color: #999;
			text-align: center;
			line-height: 99upx;
		}
		.select .keep{
			border-left: 1upx solid #ECECEC;
			color: $primary;
		}
	}
}
// 固定底部按钮
.fixedbtn{
	padding: 0 30upx 20upx;
	width: 100%;
	position: fixed;
	bottom: 0;
	.btn{
	  height: 90upx;
	  background-color: $primary;
	  text-align: center;
	  line-height: 90upx;
	  font-size: 30upx;
	  color: #fff;
	  border-radius: 45upx;
	}
}
//舞曲弹出更多操作
.uni-modal-music{
	background: #fff;
	border-radius: 20upx 20upx 0 0;
	overflow: hidden;
	.uni-modal__hd{
		font-size: 32upx;
	}
	.btns{
		border-top: 1px solid #eee;
		.btn{
			width: 100%;
		}
	}
	.line-item-l{
		width: 100%;
		line-height: 1.1;
		.iconimg{
			display: block;
			width: 56upx; 
			height: 56upx;
			margin-right: 20upx;
		}
		.txt{font-size: 30upx;}
	}
}
.Operation__modal{
	.btnbuy{
		background: $primary;
		color: #fff;
		border-radius: 100px;
		width: 120upx;
		line-height: 60upx;
	}
}
.creatMenu__modal{
	.inputBox{
		padding: 0 30upx;
		text-align: left;
		margin-bottom: 20upx;
		font-size: 30upx;
	}
	.btn{
		width: 50% !important;
		&.active{
			color: $primary;
			border-left: 1px solid #eee;
		}
	}
}
.Menulist__modal{
	.line-list{
		max-height: 700upx;
		overflow-y: auto;
	}
}
