.search{
	padding: 10upx 30upx 20upx;
}
.index_swiper .swiper,.index_swiper .swiper .img{
	height:380upx;
}

.Yi-marketing{
	.item{
		width: 100%;
		border-bottom: 1px solid #eee;
		&:first-child{
			border-right: 1px solid #eee;
		}
		.item_l{
			padding: 20upx;
			.txt_1{
				font-size: 32upx;
			}
			.txt_2{
				font-size: 24upx;
				color: #999;
			}
		}
		.item_r{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 140upx;
			height: 140upx;
			image{
				width: 100upx; height: 100upx;
			}
		}
	}
}
.Yi-Day{
	.scroll-view_H {
		white-space: nowrap;
		width: 100%;
	}
	.scroll-view-item_H {
		display: inline-block;
	}
	.Hotsell-list{
		.itembox {
			width: 180upx;
			margin-right: 20upx;
			overflow: hidden;
			.image-view {
				width: 180upx;
				height: 180upx;
				margin: 0;
				.img {
					width: 100%;
					height: 100%;
					border-radius: 8upx;
				}
			}
			.uni-product-price-favour {
				font-size: 24upx;
			}
		}
	} 
}
.goods{
	padding-bottom:20upx;
	.menu_nav{
		.menu_item{
			width:33.33%;
			position: relative;
			&:after{
				position: absolute;right:0;content: '';top:50%;transform: translateY(-50%);
				width:2upx;height:40upx;background: #ddd;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
			&.active{
				.title,.subtitle{
					color:$primary;
				}
			}
			.title{
				font-weight: 600;font-size:32upx;
			}
			.subtitle{
				line-height: 1.2;
				font-size:24upx;color:#999
			}
		}
	}
	.list{
		padding:0 30upx;
		.item{
			width:49%;margin-top:20upx;
			background: #ffffff;
			.item_info{
				padding:10upx 0;
			}
			.item_total{
				width:100%;
			}
			.item_img{
				width:100%;height:335upx;
				border-radius: 12upx;
			}
			.item_title{
				font-size:30upx;
			}
			.item_price{
				color:$primary;font-size:30upx;
			}
			.item_market{
				color:#999;font-size:24upx;
			}
		}
		
	}
}