.search{
	padding: 10upx 30upx 20upx;
	.seachbox{
		background: #f3f3f3;
		border-radius: 100px;
		width: 100%;
		padding: 0 10px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.uni-icon{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-size: 13px;
			color: #999;
			&::before{
				font-size: 20px;
				line-height: 1;
				margin-right: 8px;
			}
		}
	}
}
.shop_swiper{
	position: relative;
	.swiper{
		height:380upx;
		border-radius: 12upx;
		overflow: hidden;
		.img{
			height: 380upx;
			border-radius: 12upx;
			overflow: hidden;
		}
	}
	.dots{
		position: absolute;
		left: 50%;
		bottom: 10upx;
		text-align: center;
		white-space: nowrap;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		z-index: 2;
		.dot{
			display: inline-block;
			width: 20upx;
			height: 4upx;
			cursor: pointer;
			-webkit-transition-property: background-color;
			transition-property: background-color;
			-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
			background: rgba(0,0,0,.3);
			border-radius: 2upx;
			margin: 0 6upx;
		}
		.dot.active{
			background: #fff;
		}
	}
}
.icon-menu{
	padding: 30upx 30upx 10upx;
	display: flex;
	.item{
		width: 20%;
		text-align: center;
		.icon{ 
			display: block;
			width: 72upx; 
			height: 72upx;
			margin: 0 auto 8upx;
		 }
		 .txt{ color: #666; font-size: 24upx;}
	}
}
.Yi-marketing{
	.item{
		width: 100%;
		border-bottom: 1px solid #eee;
		&:first-child{
			border-right: 1px solid #eee;
		}
		.item_l{
			padding: 20upx;
			.txt_1{
				font-size: 32upx;
			}
			.txt_2{
				font-size: 24upx;
				color: #999;
			}
		}
		.item_r{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 140upx;
			height: 140upx;
			image{
				width: 100upx; height: 100upx;
			}
		}
	}
}
.Yi-Day{
	.scroll-view_H {
		white-space: nowrap;
		width: 100%;
	}
	.scroll-view-item_H {
		display: inline-block;
	}
	.Hotsell-list{
		.itembox {
			width: 180upx;
			margin-right: 20upx;
			overflow: hidden;
			.image-view {
				width: 180upx;
				height: 180upx;
				margin: 0;
				.img {
					width: 100%;
					height: 100%;
					border-radius: 8upx;
				}
			}
			.uni-product-price-favour {
				font-size: 24upx;
			}
		}
	} 
}
.goods{
	padding-bottom:20upx;
	.menu_nav{
		.menu_item{
			width:33.33%;
			position: relative;
			&:after{
				position: absolute;right:0;content: '';top:50%;transform: translateY(-50%);
				width:2upx;height:40upx;background: #ddd;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
			&.active{
				.title,.subtitle{
					color:$primary;
				}
			}
			.title{
				font-weight: 600;font-size:32upx;
			}
			.subtitle{
				line-height: 1.2;
				font-size:24upx;color:#999
			}
		}
	}
	.list{
		padding:0 30upx;
		.item{
			width:49%;margin-top:20upx;
			background: #ffffff;
			.item_info{
				padding:10upx 0;
			}
			.item_total{
				width:100%;
			}
			.item_img{
				width:100%;height:335upx;
				border-radius: 12upx;
			}
			.item_title{
				font-size:30upx;
			}
			.item_price{
				color:$primary;font-size:30upx;
			}
			.item_market{
				color:#999;font-size:24upx;
			}
		}
		
	}
}