.heade{
	width: 100%;
	background-color: #FFFFFF;
	padding: 30upx;
	.user{
		padding-bottom: 50upx;
		display: flex;
		align-items: center;
		.left{
			width: 180upx;
			height: 180upx;
			position:relative;
			image{
				width: 180upx;
				height: 180upx;
				border-radius: 50%;
			}
			.islive{
				position:absolute;
				bottom:-10upx;right:0;
			}
		}
		.right{
			margin-left: 25upx;
			flex: 1;
			.name{
				
				display: flex;
				align-items: center;
				view{
					font-size: 40upx;
					color: #333;
					font-weight:bold;
				}
				image{
					width: 40upx;
					height: 40upx;
					margin-left: 12upx;
				}
			}
			.list{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-right: 50upx;
				.item{
					// flex: 1;
					text-align: center;
					view{
						color: #333;
						font-size: 34upx;
					}
					
					span{
						color: #999;
						font-size: 24upx;
					}
				}
			}
		}
	}
	.text{
		font-size: 30upx;
		color: #666;
	}
}
.play-box,.music-box{
	padding: 50upx 25upx 50upx 25upx;
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.item{
		margin-right: 10upx;
		margin-bottom: 10upx;
		position: relative;
		image{
			width: 224upx;
			height: 224upx;
			border-radius: 20upx;
			background-color: #d6d6d6;
		}
		.playbtn{
			height: 80upx; width: 80upx;
			position: absolute;
			left: 50%;
			top: 50%;
			background: url(http://yw.wtvxin.com/static/play.png) center center no-repeat;
		    background-size: 100% 100%;
			z-index: 9;
			margin: -40upx 0 0 -40upx;
		}
		&:nth-of-type(3n){
			margin-right: 0;
		}
	}
}

.music-box .item image{
	border-radius: 100%;

}
.product-box{
	background-color: #f5f5f5;
	padding: 30upx 0 0;
	box-sizing: border-box;
	.img{
		margin-bottom: 20upx;
		height: 400upx;
		border-radius: 10upx;
	}
	.item{
		// padding-bottom: 70upx;
	}
	.product{
		padding:0 20upx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		// .list{
		// 	padding-right: 10upx;
		// 	margin-bottom: 10upx;
		// 	width: 33.33%;
		// 	box-sizing: border-box;
		// 	image{
		// 		width: 224upx;
		// 		border-radius: 10upx;
		// 	}
		// 	view{
		// 		overflow:hidden;
		// 		text-overflow:ellipsis;
		// 		white-space:nowrap;
		// 	}
		// }
		
		.wu-item{
			width:350upx;
			margin-bottom: 30upx;
			background:#fff;
			image{
				width:100%;
				height:440upx;
				border-radius:6upx;
			}
			.wu-tet{
				width: 100%;
				font-weight: bold;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding:20upx 10upx;
				span{
					height:31upx;
					background:linear-gradient(90deg,rgba(222,26,110,1),rgba(233,56,132,1));
					border-radius:6upx;
					font-size:24upx;
					font-weight:bold;
					color:rgba(255,255,255,1);
					line-height:31upx;
					padding: 0 10upx;
					margin-right:10upx;
				}
				.wu-name{
					white-space:nowrap;
					overflow: hidden;
					text-overflow: ellipsis;//可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 
					text-overflow: -o-ellipsis-lastline;
					width: 100%;

				}
			}
			.wu-price{
				font-weight: 400;
				font-size: 26upx;
				color: #DE1A6E;
			}
		}
	}
	
}
.bottom-box{
	position: fixed;
	bottom: 0;
	height: 100upx;
	width: 100%;
	border-top: 1upx solid #eee;
	padding: 15upx 25upx;
	background: #fff;
	.box{
		border-radius: 10upx;
		height: 64upx;
		border: 1upx solid $primary;
		view{
			width: 100%;
			height: 100%;
			color: $primary;
			font-size: 24upx;
			display: flex;
			align-items: center;
			justify-content: center;
			border-left: 1upx solid $primary;
			&:nth-of-type(1){
				border-left: none;
			}
			image{
				width: 36upx;
				height: 36upx;
				margin-right: 10upx;
			}
		}
	}
}

.profile{
	background-color: #fff;
	padding: 50upx 0 0;
	.remark{
		font-size: 32upx;
	}
	.profile-center{
		padding: 0 25upx;
		image{
			height: 410upx;
			border-radius: 10upx;
			margin-bottom: 20upx;
		}
		.profile-txt{
			display: flex;
			align-items: center;
			padding-bottom: 20upx ;

			view{
				color:#333;
				font-size: 30upx;
				font-weight: 600;
				flex:1;
			}
			span{
				flex:2;
				color:#333;
				font-size: 24upx;
			}
		}
	}
}

.islive{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -8upx;
	left: 50%;
	width: 88upx;
	margin-left: -44upx;
	border-radius: 6upx;
	height: 40upx;
	background: $primary;
	color: #fff;
	.line{
		width: 4upx;
		background: #fff;
		margin-right: 6upx;
	}
	.line1{ 
		height: 24upx;
		animation:myanimation 0.6s infinite 0.5s;
		-webkit-animation:myanimation 0.6s infinite 0.5s;
	}
	.line2{ 
		height: 10upx;
		animation:myanimation 0.6s infinite 1s;
		-webkit-animation:myanimation 0.6s infinite 1s;
	}
	.line3{ 
		height: 14upx;
		animation:myanimation 0.6s infinite 1.5s;
		-webkit-animation:myanimation 0.6s infinite 1.5s;
	}
	.txt{ font-size: 22upx; line-height: 1;}
}