.index_head{
	padding: 5px 0;
	.title{
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.iconimg{
		width:22px;
		height: 22px;
	}
	.head_l,.head_r{ 
		padding: 0 15px; 
	}
}

@keyframes myanimation{
	0%{
		height: 0%;
	}
	20%{
		height: 10upx;
	}
	50%{
		height: 24upx;
	}
	80%{
		height: 10upx;
	}
	100%{
		height: 0%;
	}
}	
.Yi-media{
	padding: 20upx 30upx;
	&:first-child{
		padding-top: 0;
	}
	.media-bd{
		.maxpic{
			border-radius: 12upx;
			overflow: hidden;
			position: relative;
			background-color: #e0e0e0;
			&.maxh{
				max-height: 450upx;
			}
			video{
				width: 100%;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
			}
			.postpic{max-height: 450upx;}
			.isplay{
				height: 88upx;
				width: 88upx;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -44upx 0 0 -44upx;
				background: url(/static/play.png);
				background-size: cover;
				z-index: 2;
			}
			&.dis{
				video{
					left: -2000px;
				}
			}
		}
		.desc{
			// position: absolute;
			// width: 100%;
			// bottom: 0;
			// left: 0;
			padding: 16upx 0;
			font-size: 30upx;
			// color: #fff;
			// text-align: center;
			// overflow: hidden;
			// white-space: nowrap;
			// text-overflow: ellipsis;
			// background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,#000 100%);
			// background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,#000 100%);
			// background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 100%);
			// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
		}
	}
	.media-ft{
		margin-top: 20upx;
		.author{
			.tx{
				width: 80upx;
				height: 80upx;
				padding: 4upx;
				border: 1px solid $primary;
				border-radius: 100%;
				margin-right: 20upx;
				position: relative;
				image{
					display: block;width: 100%; height: 100%;
					border-radius: 100%;
				}
				.islive{
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					bottom: -8upx;
					left: 50%;
					width: 88upx;
					margin-left: -44upx;
					border-radius: 6upx;
					height: 40upx;
					background: $primary;
					color: #fff;
					.line{
						width: 4upx;
						background: #fff;
						margin-right: 6upx;
					}
					.line1{ 
						height: 24upx;
						animation:myanimation 0.6s infinite 0.5s;
						-webkit-animation:myanimation 0.6s infinite 0.5s;
					}
					.line2{ 
						height: 10upx;
						animation:myanimation 0.6s infinite 1s;
						-webkit-animation:myanimation 0.6s infinite 1s;
					}
					.line3{ 
						height: 14upx;
						animation:myanimation 0.6s infinite 1.5s;
						-webkit-animation:myanimation 0.6s infinite 1.5s;
					}
					.txt{ font-size: 22upx; line-height: 1;}
				}
			}
			.name{
				max-width: 300upx;
				font-size: 30upx;
				margin-right: 20upx;
			}
		}
		.txt_info{
			font-size: 24upx;
			color: #999;
			height: 40upx;
			line-height: 40upx;
		}
		.ft_r .txt_info{
			margin-left: 40upx;
		}
		.like{padding-left: 50upx; background: url(@/static/like.png) left center no-repeat;
		background-size: 40upx 40upx;}
		.like.active{ background: url(@/static/like2.png) left center no-repeat;
		background-size: 40upx 40upx;}
		.reply{
			padding-left: 50upx;background: url(@/static/reply.png) left center no-repeat;
			background-size: 40upx 40upx;
		}
		.share{
			width: 40upx;
			height: 40upx;
			background: url(@/static/share.png) left center no-repeat;
			background-size: 40upx 40upx;
		}
	}
}